<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
   <meta charset="utf-8">
   <title>SpaceX App</title>

   <!-- mobile responsive meta -->
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

   <!-- theme meta -->
   <meta name="theme-name" content="godocs-bulma" />

   <!-- ** Plugins Needed for the Project ** -->
   <!-- plugins -->
   <link rel="stylesheet" href="plugins/bulma/bulma.min.css">
   <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"> -->
   <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
   <!-- <link rel="stylesheet" href="bower_components/themify-icons/themify-icons.css" /> -->
   <!-- Main Stylesheet -->
   <link href="/css/style.css" rel="stylesheet">
   <link rel="stylesheet" href="/css/specific-style.css">

   <!--Favicon-->
   <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
   <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>


   <!-- banner -->
   <section class="section pb-0">
      <div class="container">
         <div class="columns is-justify-content-space-between is-align-items-center">
            <div class="column is-7-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
               <h1 class="mb-4">Express SpaceX App</h1>
               <p class="mb-4">A SpaceX App using third party data.</p>
               <form class="search-wrapper" action="search.html">
                  <input id="search-by" name="s" type="search" class="input input-lg" placeholder="Search Here...">
                  <button type="submit" class="btn btn-primary">Search</button>
               </form>
            </div>
            <div class="column is-4-desktop hidden-on-tablet">
               <img src="images/banner.jpg" alt="illustration" class="img-fluid">
            </div>
         </div>
      </div>
   </section>
   <!-- /banner -->

   <!-- topics -->
   <section class="section pb-0">
      <div class="container">
         <h2 class="section-title">Find your topic.</h2>
         <div class="columns is-multiline">
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-panel mb-5"></i>
                     <h3 class="card-title h4">Capsules</h3>
                     <p class="card-text">All the hot info on your favorite billionaire taxi</p>
                     <a href="/capsules" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-credit-card mb-5"></i>
                     <h3 class="card-title h4">Cores</h3>
                     <p class="card-text">Without this, how else would we leave this place and dream new dreams beyond
                        the stars?</p>
                     <a href="/cores" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-package mb-5"></i>
                     <h3 class="card-title h4">Crew</h3>
                     <p class="card-text">God bless them, every one</p>
                     <a href="/crew" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Dragons</h3>
                     <p class="card-text">Believe it or not, Elon didn't even name these</p>
                     <a href="/dragons" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Landpads</h3>
                     <p class="card-text">Formerly known as: A big red X</p>
                     <a href="/landpads" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Launches</h3>
                     <p class="card-text">Odds are getting pretty good that they won't blow up</p>
                     <a href="/launches" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Launchpads</h3>
                     <p class="card-text">Cinderblock + Trampoline</p>
                     <a href="/launchpads" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Payloads</h3>
                     <p class="card-text">Like how the American citizen pays loads in taxes to SpaceX, amirite?</p>
                     <a href="/payloads" class="stretched-link"></a>
                  </div>
               </div>
            </div>
             <!-- topic -->
             <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Roadster</h3>
                     <p class="card-text">At least no one can get run over by Tesla autopilot in space</p>
                     <a href="/roadster" class="stretched-link"></a>
                  </div>
               </div>
            </div>
            <!-- topic -->
            <div class="column is-3-widescreen is-4-desktop is-6-tablet">
               <div class="card match-height">
                  <div class="card-body">
                     <i class="card-icon ti-settings mb-5"></i>
                     <h3 class="card-title h4">Rockets</h3>
                     <p class="card-text">The bombs bursting in air</p>
                     <a href="/rockets" class="stretched-link"></a>
                  </div>
               </div>
            </div>
                 <!-- topic -->
                 <div class="column is-3-widescreen is-4-desktop is-6-tablet">
                  <div class="card match-height">
                     <div class="card-body">
                        <i class="card-icon ti-settings mb-5"></i>
                        <h3 class="card-title h4">Ships</h3>
                        <p class="card-text">Despite all the space talk, these are just boats</p>
                        <a href="/ships" class="stretched-link"></a>
                     </div>
                  </div>
               </div>
                 <!-- topic -->
                 <div class="column is-3-widescreen is-4-desktop is-6-tablet">
                  <div class="card match-height">
                     <div class="card-body">
                        <i class="card-icon ti-settings mb-5"></i>
                        <h3 class="card-title h4">Starlink</h3>
                        <p class="card-text">This is internet</p>
                        <a href="/starlink" class="stretched-link"></a>
                     </div>
                  </div>
               </div>

         </div>
      </div>
   </section>
   <!-- /topics -->

   <!-- faq -->
   <section class="section pb-0">
      <div class="container">
         <h2 class="section-title">Mostly Asked Questions</h2>
         <div class="columns masonry-wrapper">
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">Where is the SpaceX headquarters?</h3>
                     <p class="card-text content">
                       <!-- SpaceX is located in <%= company.headquarters.city %>, <%= company.headquarters.state %>, although they have correspondence all over the globe! -->
                     </p>
                  </div>
               </div>
            </div>
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">What's SpaceX's deal?</h3>
                     <p class="card-text content">
                        <!-- <%= company.summary %> -->
                     </p>
                  </div>
               </div>
            </div>
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">How many employees does SpaceX have?</h3>
                     <p class="card-text content">
                        <!-- SpaceX has <%= company.employees %> hardworking people in their employ! -->
                     </p>
                  </div>
               </div>
            </div>
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">How many launch and test sites does SpaceX have?</h3>
                     <p class="card-text content">
                        SpaceX boasts <%= company.launch_sites %> launch sites and <%= company.test_sites %> test sites!
                     </p>
                  </div>
               </div>
            </div>
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">What is SpaceX worth?</h3>
                     <p class="card-text content">SpaceX is evaluated at $<%= company.valuation %>!</p>
                  </div>
               </div>
            </div>
            <!-- faq item -->
            <div class="column is-6-desktop">
               <div class="card card-lg">
                  <div class="card-body">
                     <h3 class="card-title h5">Does CEO <%= company.ceo %> build the rockets himself?</h3>
                     <p class="card-text content">Elon says: only the ones that don't explode!</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- /faq -->

   <!-- call to action -->
   <section class="section">
      <div class="container">
         <div class="columns is-align-items-center">
            <div class="column is-4-desktop has-text-centered hidden-on-tablet">
               <img src="images/cta-illustration.jpg" class="img-fluid" alt="">
            </div>
            <div class="column is-8-desktop has-text-centered-mobile has-text-centered-tablet has-text-left-desktop">
               <h2 class="mb-3">Still Didn&rsquo;t Find Your Answer?</h2>
               <a href="/contact" class="btn btn-primary">Submit a ticket</a>
            </div>
         </div>
      </div>
   </section>
   <!-- /call to action -->



   <!-- plugins -->
   <script src="plugins/jQuery/jquery.min.js"></script>
   <script src="plugins/masonry/masonry.min.js"></script>
   <script src="plugins/clipboard/clipboard.min.js"></script>
   <script src="plugins/match-height/jquery.matchHeight-min.js"></script>

   <!-- Main Script -->
   <script src="js/script.js"></script>

</body>

</html>