<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Favorites</title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- plugins -->
    <link rel="stylesheet" href="plugins/bulma/bulma.min.css">
    <link rel="stylesheet" href="plugins/themify-icons/themify-icons.css">
    <!-- Main Stylesheet -->
    <link href="css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

</head>

<body>
    <div class="card text-center">

        <div class="card-image">
            <figure class="image ">

                <div class="form-group column is-12">
                    <div class="columns is-multiline">

                        <div class="form-group column is-12 is-justify-content-center">
                            <label for="committee"></label>
                            
                            <table class="table">
                                <% if (userFavorite > 0) {%>
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Chamber</th>
                                        <th scope="col">Committee Type</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% userFavorite.forEach(function (favorite) { %>
                                    <% console.log('Single User Favorite', favorite) %>
                                    <tr>
                                        <th scope="row"><%= userFavorite.length + 1 %></th>
                                        <td><a
                                                href="./committees/<%=favorite.id%>"><%= favorite.name %></a>
                                        </td>
                                        <td><%= favorite.chamber %></td>
                                        <td><%= favorite.committeeTypeCode %></td>
                                        <td>

                                            <form method="POST"
                                                action="/favorites/<%=favorite.id%>/?_method=DELETE">
                                                <input class="button" type="submit" value="Delete">
                                            </form>
                                    </tr>
                                    <% }) %>
                                    

                                </tbody>
                                <% } else { %>
                                  <p>You don't have any favorites.<a href="/committees/search"> Search for a committee!</a></p>
                                    <% } %>
                            </table>

                        </div>

                    </div>
                </div>


            </figure>

        </div>

    </div>

    <script src="plugins/jQuery/jquery.min.js"></script>
    <script src="plugins/masonry/masonry.min.js"></script>
    <script src="plugins/clipboard/clipboard.min.js"></script>
    <script src="plugins/match-height/jquery.matchHeight-min.js"></script>

    <!-- Main Script -->
    <script src="js/script.js"></script>

</body>

</html>