<!DOCTYPE html>

<!--
 // WEBSITE: https://themefisher.com
 // TWITTER: https://twitter.com/themefisher
 // FACEBOOK: https://www.facebook.com/themefisher
 // GITHUB: https://github.com/themefisher/
-->

<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title><%= singleCommittee.name %></title>

    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- plugins -->
    <link rel="stylesheet" href="/plugins/bulma/bulma.min.css">
    <link rel="stylesheet" href="/plugins/themify-icons/themify-icons.css">
    <!-- Main Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!--Favicon-->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

</head>

<body>

<div class="column is-10 is-offset-1">
    <div class="px-4">
        <h2 class="mb-4 has-text-weight-medium"><%= singleCommittee.name %></h2>
        <div class="content">


            <blockquote>
                <p><%= singleCommittee.chamber %></p>
            </blockquote>
            <div class="mt-5">
                <div class="badge removed">Committee Type: <%= singleCommittee.committeeTypeCode %> | System Code: <%= singleCommittee.systemCode %></div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <% if (!singleCommittee.parent) { %>
                        <p>This committee does not have a parent.</p>
                        <% } else { %>
                            <p>Parent Committee</p>
                            <p><strong><%= singleCommittee.parent.name %></strong> | System Code: <%= singleCommittee.parent.systemCode %></p>
                        <% } %>
                    </div>
                </div>
            </div>

            <% const favoriteArray = [] %>
            <% if (userFavorite) { for( let x = 0; x < userFavorite.length; x++ ) { %>
            <% favoriteArray.push(userFavorite[x].committeeId) %>
            <% console.log(favoriteArray) %>
            <% console.log('id???', singleCommittee.id) %>
            <% } %>
            
            <% if (favoriteArray.includes(singleCommittee.id)) { %>
            <form class="pt-1" method="POST" action="/favorites/<%=userFavorite.id%>/?_method=DELETE">>
                <form method="POST" action="/favorites/<%=favorite.id%>/?_method=DELETE">
                    <input class="button" type="submit" value="Delete">
                </form>
            </form>
            <% } else {%>
            
            <form class="pt-1" method="POST" action="/favorites/add">
                <input type="hidden" name="committeeName" value="<%=singleCommittee.name %>">
                <input type="hidden" name="committeeChamber" value="<%=singleCommittee.chamber %>">
                <input type="hidden" name="committeeTypeCode" value="<%=singleCommittee.committeeTypeCode %>">
                <input type="hidden" name="id" value="<%=singleCommittee.id %>">
                <button type="submit" class="btn btn-primary">Add to Favorite</button>
            </form>
            <% }} %>


        </div>

    </div>

        <!-- plugins -->
        <script src="plugins/jQuery/jquery.min.js"></script>
        <script src="plugins/masonry/masonry.min.js"></script>
        <script src="plugins/clipboard/clipboard.min.js"></script>
        <script src="plugins/match-height/jquery.matchHeight-min.js"></script>
        
        <!-- Main Script -->
        <script src="js/script.js"></script>
        
        </body>
        
        </html>